.form {
    text-align: center;
    font-size: 18px;
    max-width: 600px;
    margin: 40px auto;
    padding: 60px;
    background-color: rgba(250, 244, 244, 0.932);
    border-radius: 20px;
    box-shadow: 0px 5px 19px -6px #BCBCBC;
}

.form__labelText {
    max-width: 300px;
    width: 100%;
    display: inline-block;
    margin: 20px 0;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 200px;
    width: 100%;
}

.form__button {
    width: 100%;
    background-color: pink;
    padding: 10px 0;
    box-shadow: 0px 5px 19px -6px #BCBCBC;
}

.form__button:hover {
    background-color: rgba(252, 157, 193, 0.822);
}

.button__row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}